@import "./variables.scss";

.sidebar {
  background-color: $light-background;
  box-shadow: 0px 4px 8px rgba($dark-background, 0.5);
  display: flex;
  flex-direction: column;
  min-width: fit-content;
  max-height: fit-content;
  padding: $spacing 0;
  border-right: solid black;

  &--centered {
    align-self: flex-start;
    padding: 20px;
  }

  &__separator {
    width: 100%;
    margin-left: -5px;
    border: solid 1px;
    color: darken($white, 5%);
  }

  &__menu {
    flex: 1;
  }

  &__cleaner {
    margin-top: 20px;
  }

  &__user{

  }

  &__lhl {
    margin-top: 2rem;
  }
}

img.sidebar--centered {
  width:300px;
}
.list-group-item{
  display:flex;
  justify-content: center;
  border-top: solid black;
  border-bottom: solid black;
}

.list-group-item h1{
  font-size: 25px;
}

.content-body {
  display: flex;
  /* flex-direction: column;
  justify-content: flex-start;  */
  width: 100%;
}