.service-header {
  display: flex;
  justify-content: space-between;
  /* background-color: #C4E7D4; */
  font-size: 18px;
  font-weight: bold;
  padding: 4px 12px 2px 12px;
  border-radius: 2px 2px 0 0;
}

.service-type {
  /* background-color: #C4E7D4; */
  font-size: 12px;
  padding: 0 12px 4px 12px;
}

.service-deposit {
  font-size: 12px;
  padding: 2px 12px 4px 12px;
}

.service-container {
  background-color: #C4E7D4;
  padding: 0;
  border-radius: 2px;
  border: 1px solid #1F1F1F;
} 