.service-header {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
  padding: 4px 12px 2px 12px;
  border-radius: 2px 2px 0 0;
}

.service-type {
  font-size: 15px;
  font-weight: 100;
  padding-left: 10px;
}

.service-deposit {
  font-size: 12px;
  padding: 2px 12px 4px 12px;
}

.service-container {
  background-color: #44B244;
  padding: 0;
  border-radius: 2px;
  border: 1px solid #1F1F1F;
} 

.service-dropdown {
  position: relative;
} 

.service-dropdown:hover .service-dropdown-content {
  display: block;
}

.service-dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  border-radius: 5px;
  min-width: 10.55em;
  box-shadow: 0px 8px 16px 0px #1F1F1F;
  padding: 0;
  z-index: 1;
} 

.edit-icon {
  size: 100;
}

.dropdown-icon {
  padding: 10px 20px;
}